version: "3"
services:
  db:
    container_name: jp_api_db
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: unless-stopped

  backend:
    container_name: jp_api_backend
    build:
      context: ./backend
      dockerfile: Dockerfile

    depends_on:
      - db

    environment:
      DATABASE_URL: ${POSTGRES_DB}

    ports:
      - "8080:8080"

    restart: unless-stopped

  frontend:
    container_name: jp_api_frontend
    build:
      context: ./frotnend
      dockerfile: Dockerfile

    ports: 
      - "5173:5173"
    depends_on:
     - backend

    restart: unless-stopped


volumes:
  postgres_data:


